/* Center the title */
.centered-title {
    text-align: center;
    font-size: 24px; /* Adjust font size if necessary */
    font-weight: bold;
    color: #333; /* Customize color as needed */
    margin-top: 40px;
}

.button-group {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 40px; /* Add space between title and buttons */
}

.btn {
    padding: 6px 12px; /* Smaller padding */
    font-size: 14px; /* Reduced font size */
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    width: 120px; /* Set width for uniform button size */
}

/* Button colors */
.btn.add {
    background-color: #035959; /* Adjusted color */
}

.btn.add:hover {
    background-color: #068f8f;
}

.btn.update {
    background-color: #035959;
}

.btn.update:hover {
    background-color: #068f8f;
}

.btn.delete {
    background-color: #035959;
}

.btn.delete:hover {
    background-color: #068f8f;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.3);
}
